.git
.gitignore
.env
.env.*
!.env.example
vendor
node_modules
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/build
public/storage
database/database.sqlite
.phpunit.result.cache
Dockerfile
docker-compose.yml
